@charset "utf-8";

/* フォント設定 */

body {
    font-family: "Yomogi", serif;
    background-image: url(img/starry-sky-2051448_1280.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    color: #ffffff;
}

/* ハンバーガーメニュー */
/* ハンバーガーボタン */
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #191970;
    z-index: 100;
    cursor: pointer;
    border: 2px solid #f0e68c;
}

/* 三本線の描画 */
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    background-color: #f0e68c;
    border-radius: 3px;
    position: absolute;
    transition: all 0.3s ease;
}

.menu-btn span {
    position: relative;
}

.menu-btn span::before {
    position: absolute;
    bottom: 8px;
}

.menu-btn span::after {
    position: absolute;
    top: 8px;
}

/* メニュー本体 */
.menu-content {
    width: 33.3333%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /* 初期状態：画面外 */
    z-index: 80;
    background-color: #191970;
    /* 暗い藍色 */
    transition: all 0.5s ease;
    overflow-y: auto;
}

.menu-content.open {
    left: 66.6667%;
    /* 画面右端から1/3にスライドイン */
}

.menu-content ul {
    padding: 80px 20px 0;
}

.menu-content ul li {
    list-style: none;
    border-bottom: solid 1px #f0e68c;
}

.menu-content ul li a {
    display: block;
    font-size: 24px;
    padding: 12px 10px;
    color: #f0e68c;
    text-decoration: none;
    position: relative;
}

.submenu {
    display: none;
    padding-left: 20px;
    margin-top: 5px;
}

.has-submenu.open .submenu {
    display: block;
}


.submenu li a {
    font-size: 18px;
    padding: 6px 10px;
    /* color: #f0e68c; */
}
/* ハンバーガーメニュー終わり */

.title {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.title img {
    height: 50px;
    margin-right: 10px;
}

.title h1 {
    color: #f0e68c;
    margin-bottom: 50px;
}

h2 {
    color: #f0e68c;
}

.wrap {
    margin: 50px;
    font-size: 18px;
}

.container {
    background-color: rgba(1, 1, 1, 0.5);
    margin-left: 45%;
}

.video {
    float: left;
    /* 動画を左側に配置 */
    width: 40%;
    /* 動画の幅を調整 */
    margin-right: 30px;
    /* テキストとの間に余白を作る */
    margin-left: 50px;
}

.video video {
    width: 100%;
    /* 親要素の幅いっぱいに広げる */
}

.text-content {
    overflow: hidden;
    /* 回り込みを適切に処理 */
}

#page_top {
    padding-left: 90%;
    color: #f0e68c;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#page_top img {
    width: 50px;
    margin: 0 auto;
}

#page_top p {
    font-weight: bold;
}